
.qacontainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 275px
}

.qacomponent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.next-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.qabutton {
    padding: 5px;
}

.add-button {
    margin-top: 5px;
}

.qasentence {
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
}

.outside-qacontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
}

.highlight {
    color: #5090D3;
    background-color: rgba(102, 178, 255, 0.25);
    border-radius: 5px;
}

.qa-button {
    color: white;
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.selected-qa-button {
    background-color: orange;
}

.text-input {
    display:flex;
    flex-direction: row;
    padding-left: 25px;
    margin-left: 5px;
    padding-right: 25px;
    margin-right:5px;
}

.instructions{
    font-size: 12px;
    width:10%;
    opacity:0.5;
}

.top-sentence{
    width:80%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.qa{
    width:40%;
}

.qa-buttons{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:80%;
}
.qa-button-group{
    display:flex;
    flex-direction: row;

}
.qa-button-container{
    width:87.5%;
    display:flex;
    flex-direction: row;
    justify-content: right;
}