
.history-accordion{
    opacity: 0.5;
    width:100%;
    height:300px;
    overflow-y:auto;
}
.history{
    width:60%;
}

.accordion-summary{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.accordion-details{
    text-align:left;
    color:white;
}
.accordion-column{
    width:50%;
    color:white;
    /*text-align:left;*/
}