.data-buttons{
    display:flex;
    flex-direction: row;
}

.tree-graph{
    color:white;
}

.node text{
    background-color:white;
    fill:white;
    width:200px;
    font-size:11px;
}

.node circle, .node rect {
    fill: none;
    stroke: none;
}

path.link {
    fill: gray;
    stroke: gray;
}
